*{
    box-sizing: border-box;
}
nav{
    width: 100%;
    max-width: 100vw;
    margin: auto;
    padding: 20px;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2%;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    background-color:rgb(183, 247, 208);
    box-shadow: inset 0 0 7px 1px rgba(0, 0, 0, 0.318);
}
#web-logo{
    width: 20%;
    margin-right: 3%;
    mix-blend-mode: multiply;
}

main{
    padding-top: 2.7%; 
    height:auto;
    background-color: #F0FDF5;
    /* background-color:rgb(211, 248, 225); /
    / border-radius: 20px;
    box-shadow: inset 0 0 7px 1px rgba(0, 0, 0, 0.318); */
}

.container {    
    max-width: 70vw;
    margin: auto;
    /* background: rgba(155, 226, 182, 0.84); /
    padding: 20px;
    border-radius: 7%;
    / box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    display: grid;
    grid-template-areas: "space1 space2" "space3 space3";
    grid-row-gap: 5vw;
    grid-column-gap: 5vw;
}
.user-registration{
    width: 30vw;
    height: 45vh;
    margin: auto;
    background: #000000;
    padding: 20px;
    border-radius: 20px;
    background-color:rgb(255, 255, 255);
    box-shadow: 5px 5px 10px  rgb(71 69 69);
}   
#user-registration{
    grid-area: space1;
}
.user-login{
    width: 30vw;
    height: 45vh;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    background-color:rgb(255, 255, 255);
    box-shadow: 5px 5px 10px  rgb(71 69 69);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
#user-login{
    grid-area: space2;
}
.admin-login{
    width: 45vw;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    background-color:rgb(255, 255, 255);
    box-shadow: 5px 5px 10px  rgb(71 69 69);
}
#admin-login{
    grid-area: space3;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background: #f4f4f4;
}

h1,
h2 {
    color: #555;
}

form {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background:#15803D;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 0.7em;
    padding: 0.4em 1.3em;
    font-size: large;
}

button:hover {
    background: #50A06E;
}

.error {
    color: red;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #ffebee;
    border-radius: 5px;
}